@charset "UTF-8";

.rowLink:hover {
  background-color: #ddd;
  cursor: pointer;
}

.table-wrapper {
  overflow: auto;
  width: 100%;
}

.flex-spacer {
  margin-left: auto;
}

.controls {
  overflow: auto;
}

.controls.header-buttons {
  display: flex;
  flex-wrap: wrap;
}

.info-footer {
  display: flex;
  flex-wrap: wrap;
}

.left-side-template {
  margin-left: 0.5rem;
}

.right-side-template {
  margin-right: 0.5rem;
}

.controls .server-refresh {
  padding-top: 0.3rem;
}

.controls button {
  margin-left: 0.25rem;
}

table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-collapse: collapse;
  width: 100%;
}

table .right {
  text-align: right;
}

th, td {
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.header-row > th {
  white-space: nowrap;
}

.header-row > th,
.header-row > td {
  border-right: 1px solid black;
}

.header-row > th:last-child,
.header-row > td:last-child {
  border-right: none;
}

.header-filter-row > td {
  text-align: center;
}

.header-row {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.header-buttons button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding-left: 0;
}

.data-row.even > td {
  border-right: 1px solid #f2f2f2;
}

.data-row.odd > td {
  border-right: 1px solid white;
}

.data-row.rowOpen > td {
  border-right: 1px solid #e8e8e8;
}

.data-row > td:last-child {
  border-right: none;
}

.child-spacer {
  width: 1rem;
}

.local-paging-size {
  margin-right: 1.5rem;
}

.even {
  background-color: #f2f2f2;
}

.rowOpen {
  background-color: #e8e8e8;
}

.pointer {
  cursor: pointer;
}

.ordering-button {
  vertical-align: middle;
}

/* Column Picker */
.toggle-dropdown {
  border: none;
  background-color: white;
  text-align: left;
}

.column-picker .dropdown {
  border: 1px solid #DDDDDD;
  background-color: white;
  color: black;
  font-weight: normal;
  padding: 0.5rem;
  position: absolute;
  margin-right: 2rem;
}

.column-picker .dropdown fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.column-picker .dropdown .column-wrapper {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-flow: row wrap;
  align-content: flex-start;
}

.column-picker .dropdown label {
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 0.25rem;
  min-width: 13rem;
}

.column-picker .dropdown label input {
  vertical-align: top;
}

/* Pagination */
.pagination-wrapper {
  float: right;
}

.pagination {
  display: inline-block;
}

.pagination button:hover,
.pagination button.active {
  background-color: #DDDDDD;
}

.pagination button.active {
  cursor: default;
}

.pagination button {
  border: none;
  background-color: white;
  cursor: pointer;
  float: left;
  padding: 4px 16px;
  transition: background-color .3s;
}

.pagination button.fa {
  padding: 6px 16px;
}

/* Accessibility */
.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.screen-reader-button-label {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}

/*!
 * Font Awesome Free 5.0.3 by @fontawesome - http://fontawesome.com
 * License - http://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

@font-face {
  font-family: "shark-ng-table-icons";
  src:url("fonts/shark-ng-table-icons.eot");
  src:url("fonts/shark-ng-table-icons.eot?#iefix") format("embedded-opentype"),
  url("fonts/shark-ng-table-icons.woff") format("woff"),
  url("fonts/shark-ng-table-icons.ttf") format("truetype"),
  url("fonts/shark-ng-table-icons.svg#shark-ng-table-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa, .far, .fas {
  font-family: shark-ng-table-icons;
  font-weight: 900;
}

.fa-sort:before {
  content: "\61";
}
.fa-sort-up:before {
  content: "\62";
}
.fa-sort-down:before {
  content: "\63";
}
.fa-caret-down:before {
  content: "\64";
}
.fa-caret-right:before {
  content: "\65";
}
.fa-angle-down:before {
  content: "\66";
}
.fa-angle-left:before {
  content: "\67";
}
.fa-angle-right:before {
  content: "\68";
}
.fa-angle-double-left:before {
  content: "\69";
}
.fa-angle-double-right:before {
  content: "\6a";
}
.fa-sync:before {
  content: "\6b";
}
