.rowLink:hover {
    background-color: #ddd;
    cursor: pointer;
}

.table-wrapper {
    overflow: auto;
}

.controls {
    overflow: auto;
}

.controls .filter-box {
    float: left;
}

.controls .column-picker {
    float: left
}

.controls .server-refresh {
    float: left;
}

.controls .local-paging-options {
    float: right;
}

.controls button {
    margin-left: 0.25rem;
}

.controls:after {
    clear: both;
}

table {
    margin-bottom: 0.5rem;
    border-collapse: collapse;
    width: 100%;
}

table .right {
    text-align: right;
}

th, td {
    padding: 0.25rem 1rem 0.25rem 1rem;
}

th {
    background-color: #4CAF50;
    color: white;
}

.info-header {
    border-bottom: 1px solid white;
}

.header-row > th {
    border-right: 1px solid white;
}

.header-row > th:last-child {
    border-right: none;
}

.header-buttons > button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header-buttons > button.black-arrow {
    color: black;
}

.data-row.even > td {
    border-right: 1px solid #f2f2f2;
}

.data-row.odd > td {
    border-right: 1px solid white;
}

.data-row.rowOpen > td {
    border-right: 1px solid #e8e8e8;
}

.data-row > td:last-child {
    border-right: none;
}

.child-spacer {
    width: 1rem;
}

.info-footer {
    border-top: 1px solid white;
}

.even {
    background-color: #f2f2f2;
}

.rowOpen {
    background-color: #e8e8e8;
}

.pointer {
    cursor: pointer;
}

/* Column Picker */
.toggle-dropdown {
    border: 1px solid #CCCCCC;
    background-color: white;
    text-align: left;
    cursor: pointer;
}

.column-picker {
    width: 10rem;
}

.column-picker .dropdown {
    border: 1px solid #DDDDDD;
    background-color: white;
    color: black;
    font-weight: normal;
    z-index: 100;
    position: absolute;
    padding: 4px;
    width: 7.75rem;
    left: 2.45rem;
}

.column-picker .dropdown label {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
}

.column-picker .dropdown label input {
    vertical-align: top;
}

.column-picker .dropdown label span {
    display: inline-block;
}
/* Pagination */
.pagination-wrapper {
    float: left;
}

.pagination {
    display: inline-block;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a.active,
.pagination span.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a,
.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    transition: background-color .3s;
}

.pagination .inactive {
  color: gray;
}

/* Accessibility */
.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
