.rowLink:hover {
    background-color: #ddd;
    cursor: pointer;
}

.table-wrapper {
    overflow: auto;
}

.controls {
    margin-bottom: 0.5rem;
    overflow: auto;
}

.controls .filter-box {
    float: left;
}

.controls .local-paging-options {
    float: right;
}

.controls button {
    margin-left: 0.25rem;
}

.controls:after {
    clear: both;
}

table {
    margin-bottom: 0.5rem;
    border-collapse: collapse;
    width: 100%;
}

table .right {
    text-align: right;
}

th, td {
    padding: 0.25rem 1rem 0.25rem 1rem;
}

th {
    background-color: #4CAF50;
    color: white;
}

.header-row > th {
    border-right: 1px solid white;
}

.header-row > th:last-child {
    border-right: none;
}

.data-row.even > td {
    border-right: 1px solid #f2f2f2;
}

.data-row.rowOpen > td {
    border-right: 1px solid #e8e8e8;
}

.data-row > td:last-child {
    border-right: none;
}

.child-spacer {
    width: 1rem;
}

.info-footer {
    border-top: 1px solid white;
}

.even {
    background-color: #f2f2f2;
}

.rowOpen {
    background-color: #e8e8e8;
}

.pointer {
    cursor: pointer;
}

/* Pagination */
.pagination-wrapper {
    float: left;
}

.pagination {
    display: inline-block;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a.active,
.pagination span.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a,
.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    transition: background-color .3s;
}

.pagination .inactive {
  color: gray;
}

/* Accessibility */
.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
