.rowLink:hover {
  background-color: #ddd;
  cursor: pointer;
}

.table-wrapper {
  overflow: auto;
  width: 100%;
}

.controls {
  overflow: auto;
}

.controls .filter-box {
  float: right;
}

.controls .column-picker {
  float: left
}

.controls .server-refresh {
  float: left;
}

.controls button {
  margin-left: 0.25rem;
}

.controls:after {
  clear: both;
}

table {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-collapse: collapse;
  width: 100%;
}

table .right {
  text-align: right;
}

th, td {
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.header-row > th,
.header-row > td {
  border-right: 1px solid black;
}

.header-row > th:last-child,
.header-row > td:last-child {
  border-right: none;
}

.header-filter-row > td {
  text-align: center;
}

.header-row {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.header-buttons button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.data-row.even > td {
  border-right: 1px solid #f2f2f2;
}

.data-row.odd > td {
  border-right: 1px solid white;
}

.data-row.rowOpen > td {
  border-right: 1px solid #e8e8e8;
}

.data-row > td:last-child {
  border-right: none;
}

.child-spacer {
  width: 1rem;
}

.page-size-controls {
  float: left;
}

#local-paging-size {
  margin-right: 1.5rem;
}

.even {
  background-color: #f2f2f2;
}

.rowOpen {
  background-color: #e8e8e8;
}

.pointer {
  cursor: pointer;
}

/* Column Picker */
.toggle-dropdown {
  border: none;
  background-color: white;
  text-align: left;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.column-picker .dropdown {
  border: 1px solid #DDDDDD;
  background-color: white;
  color: black;
  font-weight: normal;
  z-index: 100;
  position: absolute;
  padding: 0.5rem;
  margin: 0;
  margin-left: 0.5rem;
  min-width: 7rem;
}

.column-picker .dropdown li {
  list-style: none;
}

.column-picker .dropdown label {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}

.column-picker .dropdown label input {
  vertical-align: top;
}

.column-picker .dropdown label span {
  display: inline-block;
}

/* Pagination */
.pagination-wrapper {
  float: right;
}

.pagination {
  display: inline-block;
}

.pagination button:hover,
.pagination button.active {
  background-color: #DDDDDD;
}

.pagination button.active {
  cursor: default;
}

.pagination button {
  border: none;
  background-color: white;
  cursor: pointer;
  float: left;
  padding: 4px 16px;
  transition: background-color .3s;
}

.pagination button.fa {
  padding: 6px 16px;
}

/* Accessibility */
.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.screen-reader-button-label {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}
