<div class="table-wrapper">
  <div class="controls">
    <form #filterForm="ngForm">
      <input *ngIf="filterable" type="text" name="filter" id="filter" [(ngModel)]="filter" placeholder="Filter Results" />
    </form>
    <button *ngIf="serverSide" (click)="refreshPage()">&#x21bb;</button>
  </div>
  <table *ngIf="page">
    <thead>
      <tr>
        <th [ngClass]="{'pointer': sortable, 'right': column.alignRight }" *ngFor="let column of columns" (click)="changeSort(column.property, column.sortType)" (keyup.enter)="changeSort(column.property, column.sortType)">
          {{ column.header }} <span [ngClass]="{ 'asc': column.sortType === 1, 'desc': column.sortType === 2 }"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="page.content">
        <tr *ngFor="let row of page.content | localfilter:columns:localFilter:filter" (click)="rowClick(row)" (keyup.enter)="rowClick(row)" tabindex="0" [ngClass]="{ rowLink: linkTarget }">
          <ng-container *ngFor="let column of columns">
            <td [ngClass]="{'right': column.alignRight }" >
              <app-table-cell [column]="column" [row]="row"></app-table-cell>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      <ng-container *ngIf="!page.content || page.content.length == 0">
        <tr><td [attr.colspan]="columns.length">This table contains no rows</td></tr>
      </ng-container>
    </tbody>
  </table>
  <shark-table-pagination [page]="page" (paginationChange)="changePage($event)"></shark-table-pagination>
</div>
